<div style="background-color: #e0f7e0; padding: 15px; border-radius: 5px;">
    <h1 style="color: Darkgreen;">Home Work 1.11.2024</h1>
</div>

<img src="" alt="Italian Trulli">

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
            1. "Use the arange command to create and print an array with the following numbers:<br>
        </strong>
    </h4>
    <h5 style="color: Tomato; margin-top: -10px;">
        a. From 1 to 10<br>
        b. From 0.5 to 5 in steps of 0.25"
    </h5>
</div>

In [2]:
import numpy as np

In [33]:
# a. Create an array from 1 to 10
array_a = np.arange(1, 11)  # 11 is exclusive
print("Array from 1 to 10:")
print(array_a)

Array from 1 to 10:
[ 1  2  3  4  5  6  7  8  9 10]

In [34]:
# b. Create an array from 0.5 to 5 in steps of 0.25
array_b = np.arange(0.5, 5 + 1, 0.25)  # 5 + 1 (or 5.01) is to include 5 in the array
print("\nArray from 0.5 to 5 in steps of 0.25:")
print(array_b)

Array from 0.5 to 5 in steps of 0.25:
[0.5  0.75 1.   1.25 1.5  1.75 2.   2.25 2.5  2.75 3.   3.25 3.5  3.75
 4.   4.25 4.5  4.75 5.   5.25 5.5  5.75]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
            2. "Use the zeros command to create and print an array of zeros with the following sizes:<br>
        </strong>
    </h4>
    <h5 style="color: Tomato; margin-top: -10px;">
        a. An array of 10 elements in a single row <br>
        b. An array of 12 elements in a shape of 4 x 3"
    </h5>
</div>

In [8]:
# a. Create a 1D array of zeros with 10 elements
array_a = np.zeros(10)
print("Array of 10 zeros:")
print(array_a)

Array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [9]:
# b. Create a 2D array of zeros with shape 4 x 3
array_b = np.zeros((4, 3))  # 4 rows and 3 columns
print("\nArray of zeros with shape 4 x 3:")
print(array_b)

Array of zeros with shape 4 x 3:
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
            3. "Use the linspace command to create and print an array of numbers:
        </strong>
    </h4>
    <h5 style="color: Tomato; margin-top: -10px;">
        a. With a size of 5 elements from 2 to 12 <br>
        b. With a size of 4 elements from 3 to 9"
    </h5>
</div>

In [15]:
# a. Create an array of 5 elements from 2 to 12
array_a = np.linspace(2, 12, 5)
print("Array of 5 elements from 2 to 12:")
print(array_a)

Array of 5 elements from 2 to 12:
[ 2.   4.5  7.   9.5 12. ]

In [11]:
# b. Create an array of 4 elements from 3 to 9
array_b = np.linspace(3, 9, 4)
print("\nArray of 4 elements from 3 to 9:")
print(array_b)

Array of 4 elements from 3 to 9:
[3. 5. 7. 9.]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
            4. "Use the random command from NumPy to create and print an array of random numbers:<br>
        </strong>
    </h4>
    <h5 style="color: Tomato; margin-top: -10px;">
        a. With a size of 2 x 4 where each random number is between 0 and 0.999<br> 
        b. With a size of 3 x 3 where each random number is an integer between 10 and 20"
    </h5>
</div>

In [12]:
# a. Create a 2 x 4 array of random numbers between 0 and 0.999
array_a = np.random.rand(2, 4)  # rand generates numbers in the range [0.0, 1.0)
print("Array of random numbers (2 x 4) between 0 and 0.999:")
print(array_a)

Array of random numbers (2 x 4) between 0 and 0.999:
[[0.08874987 0.06587537 0.72287911 0.64971507]
 [0.42493732 0.31958053 0.74900011 0.7079043 ]]

In [13]:
# b. Create a 3 x 3 array of random integers between 10 and 20
array_b = np.random.randint(10, 21, size=(3, 3))  # 21 is exclusive
print("\nArray of random integers (3 x 3) between 10 and 20:")
print(array_b)

Array of random integers (3 x 3) between 10 and 20:
[[19 10 14]
 [16 16 15]
 [12 19 17]]

<h4 style="color: Darkred;">
    <strong>
        * "Using reshape, change the size of the array you created in section a to 8 x 1.<br> 
        * What should you pay attention to when using the reshape operation?"
    </strong>
</h4>

In [14]:
# Create a 2 x 4 array of random numbers between 0 and 0.999 (from section a)
array_a = np.random.rand(2, 4)

# Reshape the array to 8 x 1
reshaped_array = array_a.reshape(8, 1)
print("Reshaped array (8 x 1):")
print(reshaped_array)

Reshaped array (8 x 1):
[[0.25130362]
 [0.31643129]
 [0.97930772]
 [0.16988884]
 [0.86697273]
 [0.47128357]
 [0.73372508]
 [0.55498861]]

**Explanation:**<br> 
The original array array_a has 8 elements (2 rows and 4 columns). The reshape method is used to change its shape to 8 rows and 1 column. <br> 
**Important Notes When Using reshape:** <br> 
**Element Count:** The total number of elements in the original array must match the total number of elements in the reshaped array. For example, an array with 8 elements can be reshaped to any configuration that also contains 8 elements (e.g., 8x1, 4x2, 2x4).<br>
**Order of Elements:** The order of elements is maintained. Reshaping does not change the data; it only changes how the data is organized.<br>
**Using -1:** You can use -1 in one dimension to let NumPy automatically calculate the appropriate size for that dimension based on the total number of elements. For example, array_a.reshape(-1, 1) would also work to reshape to 8x1.

<div style="background-color: #f0f0f0; padding: 15px; border-radius: 5px;">
    <h4 style="color: Darkred;">
        <strong>
            * "What will happen if we generate random numbers using a fixed seed? <br>
            * What is the advantage of using a seed?"
        </strong>
    </h4>
</div>

In [18]:
# Set a fixed seed
np.random.seed(42)

In [19]:
# Generate random numbers
random_numbers = np.random.rand(5)
print("Random numbers with a fixed seed:")
print(random_numbers)

Random numbers with a fixed seed:
[0.37454012 0.95071431 0.73199394 0.59865848 0.15601864]

In [20]:
# Reset the seed and generate the same numbers again
np.random.seed(42)
repeat_random_numbers = np.random.rand(5)
print("\nRepeat random numbers with the same fixed seed:")
print(repeat_random_numbers)

Repeat random numbers with the same fixed seed:
[0.37454012 0.95071431 0.73199394 0.59865848 0.15601864]

<div style="border: 2px solid Darkred; padding: 15px; background-color: #f9f9f9;">
    <h4 style="color: Darkred;">
        <strong>
            6. "Write a Python code in a Jupyter notebook that performs the following actions: <br>
        </strong>
    </h4>
    <h5 style="color: Tomato; margin-top: -10px;">
        a. Read 5 numbers from the user in a loop and add them to a list.<br>
        b. Convert the list to a NumPy array.<br>
        c. Print the largest element in the array.<br>
        d. Print the smallest element in the array.<br>
        e. Print the shape of the array (hint: use shape).<br>
        f. Print the index of the largest element in the array.<br>
        g. Print the index of the smallest element in the array."
    </h5>
</div>

In [22]:
# a. Read 5 numbers from the user and add them to a list
user_numbers = []
for i in range(5):
    num = float(input(f"Enter number {i+1}: "))  # Prompt for user input
    user_numbers.append(num)

Enter number 1:  5
Enter number 2:  66
Enter number 3:  44
Enter number 4:  77
Enter number 5:  100

In [23]:
# b. Convert the list to a NumPy array
np_array = np.array(user_numbers)

In [27]:
# c. Print the largest element in the array
largest_element = np.max(np_array)
print("The largest element in the array:", largest_element)

The largest element in the array: 100.0

In [28]:
# d. Print the smallest element in the array
smallest_element = np.min(np_array)
print("The smallest element in the array:", smallest_element)

The smallest element in the array: 5.0

In [29]:
# e. Print the shape of the array
print("Shape of the array:", np_array.shape)

Shape of the array: (5,)

In [30]:
# f. Print the index of the largest element in the array
index_largest = np.argmax(np_array)
print("Index of the largest element in the array:", index_largest)

Index of the largest element in the array: 4

In [31]:
# g. Print the index of the smallest element in the array
index_smallest = np.argmin(np_array)
print("Index of the smallest element in the array:", index_smallest)

Index of the smallest element in the array: 0